.info-card {
    width: 300px;
    height: 500px;
    border: 3px solid #FFA730;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color: #fff;
    text-align: center;
  }

  .info-card:hover {
    border: 3px solid #E58D23;
  }
  
  .info-card-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .info-card-content {
    flex: 1;
  }
  
  .info-card-title {
    font-size: 24px;
    margin: 0;
  }
  
  .info-card-description {
    font-size: 16px;
    margin: 10px 0;
  }
  