hero {
    display: flex;
    height: 640px;
    padding-top: 225px;
    justify-content: center;
    padding-left: 60px;
}

.block {
    height: 362px;
    width: auto;
    display: flex;
    padding-right: 180px;
    justify-content: center;
}

.text_block {
    width: 350px;
    color: #000000;
}

.text_block h1{
    padding-bottom: 20px;
    
}

span.line {
    width: 56px;
    height: 2px;
    display: flex;
    background-color: black;
}

.text_block p {
    font-weight: 300;
    color: #7D7987;
    padding-bottom: 20px;
    line-height: 30px;
}

.hero_button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    color: var(--button-color);
    border: 2px solid var(--button-color);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.hero_button img{
    width: 10px;
    height: 15px;
    padding-left: 16px;
}

.hero_points_background {
    display: flex;
    width: 133px;
    height: 115px;
    padding-left: 610px;
    margin-top: -40px;
}

@media screen and (min-width: 1800px) {
    .hero .container .header{
        display: flex;
        justify-content: space-between;
    }

    hero {
        display: flex;
        justify-content: center;
        padding-top: 300px;
        padding-bottom: 200px;
        padding-left: 0;
    }

    .hero_button {
        width: 300px;
        height: 70px;
        font-size: 28px;
        border: 3px solid var(--button-color);
        animation: pulse 2s infinite;
    }

    .hero_button img {
        height: 25px;
        width: 30px;
    }

    .hero_bg_img {
        width: 1000px;
        margin-left: 50px;
    }

    .hero_points_background {
        padding-left: 910px;
    }

    .text_block h1 {
        width: 570px;
    }

    .text_block p {
        padding-bottom: 10px;
        width: 570px;
        line-height: 40px;
    }

    .text_block {
        width: 570px;
    }

    span.line {
        width: 85px;
        height: 3px;
    }

}

@media screen and (max-width: 1140px) {
    .hero .container .header{
        display: flex;
        justify-content: space-between;
    }

    .hero_img{
        display: none;
    }

    .block {
        padding-right: 0;
    }

    hero {
        display: flex;
        justify-content: center;
        padding-top: 180px;
        padding-left: 0;
    }

    .hero_button {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
    
    .text_block p {
        padding-bottom: 10px;
        width: 322px;
    }

}

@media screen and (max-width: 450px) {
    hero {
        height: 505px;
    }

    .text_block p {
        width: 250px;
    }
}
