.cards_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
}

.cards_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: auto;
}